<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}  {% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='css/flowbite.min.css') }}" rel="stylesheet" />
  </head>
  <body id="page-top">
    <div>
      {% block content %} {% endblock %}
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <script type="text/javascript" src="{{ url_for('static', path='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/flowbite.min.js') }}"></script>
  </body>
</html>
